<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/css/styles.css">
    </link>
    <script src="../public/js/app.js"></script>
</head>

<body>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>
        </div>

        {{>footer}}
    </body>
</body>

</html>