<!DOCTYPE html>
<html>
    <head>
        {{!-- <link rel="stylesheet" href="../public/css/styles.css"></link> --}}
      
    </head>
    <body>
      <div class="main-content">
        {{>header}}
        <p>Use this site to get weather</p>
        {{!-- <img class="portrait" src="/img/me.png"> --}}
        <form>
            <input placeholder="location"/> 
            <button>Search</button>
        </form>
     </div>
        {{>footer}}

          <script src="../public/js/app.js"></script>
          {{!--This script runs only after all the elements are available--}}
          </body>
</html>